body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#logo {
    padding: 0;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

#list {
    padding: 0;
    margin-left: auto;
}

ul {
    margin-top: 30px;
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.link-logo {
    display: flex;
    justify-content: space-between;
}

.header-main {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#is-awesome {
    font-size: 48px; 
    font-weight: 800;
    color: #F9FAF8;
}

#website #list {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    max-width: 700px;
}

#hills {
    padding: 30px;
}

#info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section-one {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.combine {
    max-width: 200px;
    font-weight: 350;
    font-size: 14px;
}

#image {
    border: none;
    border-radius: 25px;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.para-thor {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.para {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

#thor {
    margin-left: auto;
}

.message-full {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.message {
    background-color: #3882F6;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 20px 100px;
    border-radius: 6px;
}

.footer {
    background-color: #1F2937;
    color: whitesmoke;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
}

#signup-I {
    border: none;
}

#signup-II {
    border-style: solid;
    border-color: whitesmoke;
}