.header-container {
    background-color: #1E2837;
}

.quotes {
    background-color: #E5E7EB;
}

.message {
    background-color: #3B82F6;
}

.footer {
    background-color: #1E2837;
}

button {
    background-color: #3B82F6;
}
